@use "theme";
@use "hero";
@use "cookie-banner";
@use "project-list";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

:root {
  background-color: theme.$background;
  color: theme.$foreground;
  font-family: "Roboto", sans-serif;
}

#__next {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0.5rem;
}
